#airsoftlogo{
    top: -570px;
    left: 550px;
    position: relative;
}
#airsoftmilsim{
    top: -390px;
    left: 580px;
    position: relative;
}
#speedsoft{
    top: -470px;
    left: 560px;
    position: relative;
}