body {
  background-color: #5e6572;
  font-family: Tahoma, Verdana, sans-serif;
overflow-x:scroll
}

.show {
  display: block;
}

/* Flexible box which contains the menu bar which is *not* from w3schools */
.navbarbox {
  position: relative;
  background-color: #1c2321;
  position: relative;
  height:50px;
  width: 98%;
  top: 0px;
  left: 0px;
  padding: 10px;
  border: rgb(0, 0, 0);
  border-radius: 5px;
  box-shadow: 0 2px 4px darkslategray;
}

/*  Logo position within the navigationbar */
#logonav {
  position: absolute;
  left: 0%;
  width: 64px;
}

/* The text in the middle of the navigationbar */
#textnavbar {
  position: absolute;
  top: 0%;
  left: 43%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],
select,
textarea {
  width: 100%;
  /* Full width */
  padding: 12px;
  /* Some padding */
  border: 1px solid #ccc;
  /* Gray border */
  border-radius: 4px;
  /* Rounded borders */
  box-sizing: border-box;
  /* Make sure that padding and width stays in place */
  margin-top: 6px;
  /* Add a top margin */
  margin-bottom: 16px;
  /* Bottom margin */
  resize: vertical
    /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*this creates the main space for the footer of the webpage*/
#contactfooter {
  background-color: darkslategray;
  height: fit-content;
  width: auto;
}

#copyrightcontact {
  font-weight: bold;
  font-size: large;

}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}

/* New code css timo's dropdown */
/* This is the menu bar's context box, which displays all sub-pages */
.content {
float:right;
  top:-66px;
  padding: 0 18px;
  background-color: white;
  width: 250px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin-right:1%;
}


/* Style the search box */
#mySearch {
  width: 90%;
  font-size: 18px;
  padding: 11px;
  border: 1px solid #ddd;
}

/* Style the navigation menu */
#myMenu {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;

}

/* Style the navigation links */
#myMenu li a {
  padding: 12px;
  text-decoration: none;
  color: black;
  display: block
}

#myMenu li a:hover {
  background-color: #eee;
}

/* This is the styling of the collapsible dropdown navigation  */
.collapsible {
  position:relative;
  left:90%; 
  top:-66px;
  background-color: #d5cd7c;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

#Buttontextdrp {

  font-size: 27px;
  color: white;
  position: relative;
  top: -5px;
  font-family: Arial, Helvetica, sans-serif;
}
.tbicons{
  position: relative;
  top:8px;
  height: 16px;
  margin:5px;
  
}
/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
  width: 100%; /* Full width */
  padding: 12px; /* Some padding */  
  border: 1px solid #ccc; /* Gray border */
  border-radius: 4px; /* Rounded borders */
  box-sizing: border-box; /* Make sure that padding and width stays in place */
  margin-top: 6px; /* Add a top margin */
  margin-bottom: 16px; /* Bottom margin */
  resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: #45a049;
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/*this creates the main space for the footer of the webpage*/
#contactfooter {
  background-color: darkslategray;
  height: fit-content;
  width: auto;
}

#copyrightcontact {
  font-weight: bold;
  font-size: large;

}

.btn {
  border: 2px solid black;
  background-color: white;
  color: black;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
}

/* Green */
.success {
  border-color: #04AA6D;
  color: green;
}

.success:hover {
  background-color: #04AA6D;
  color: white;
}
#fotoIHVH{
  top: -195px;
  left: 0px;
  position: relative;
}
#inschrijftekst{
  top: 100px;
  left: 100px;
  position: relative;
}
#contactlink{
  top: 100px;
  left: 100px;
  position: relative;
}

/*this creates the main space for the footer of the webpage*/
#contactfooter2 {
  background-color: darkslategray;
  height: fit-content;
  width: auto;
  top: 370px;
  position: relative;
}

#copyrightcontact2 {
  font-weight: bold;
  font-size: large;

}