*{
    padding: 0%;
    margin: 0;
  
  }
  footer{
    background-color: #9e985d;
    color: #1c2321;
    display: flex;
    flex-direction: column;
  }
  .container {
      display: flex;
      flex-basis: 100%;
  }
  .about{
    background-color: #5e6572;
    flex-grow: 1;
    flex-basis: 100%;
  }
  .services{
    background-color: #5e6572;
    flex-grow: 1;
    flex-basis: 100%;
  
  }
  .contact{
    background-color: #5e6572;
    flex-grow: 1;
    flex-basis: 100%;
  }
  